.image-container {
    display: grid;
    grid-template-columns: repeat(3, 30%); /* Three images per row, each 30% wide */
    gap: 20px; /* Thick border between rows */
    justify-content: center; /* Center images horizontally */
    margin: 0 auto; /* Center images container */
    width: 90%; /* Maximum width to keep images centered */
}

.image-container img {
    height: auto; /* Maintain the aspect ratio of the images */
    max-width: 100%; /* Ensure images do not exceed their container */
    width: 100%; /* Force images to take up the full width of the container */
    display: block; /* Remove any default inline spacing */
}

.glow-image {
    transition: box-shadow 0.3s ease-in-out;
}
  
.glowing {
    box-shadow: 0 0 10px 3px rgba(0, 253, 46, 0.7); /* Adjust the color and size as needed */
}
